@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  list-style: none;
  text-decoration: none;
  color: #fff;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0px;
  min-height: 100vh;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.active-nav-link {
  padding: 3px 15px;
  border-radius: 50px;
  border: 2px solid transparent;
  transition: background 0.2s ease;
  font-size: 15px;
  background-color: #ffffff3e;
  border: 2px solid #fff;
}

body::-webkit-scrollbar {
  width: 5px;
  appearance: none;
  background: rgb(27, 27, 27);
  height: 5px;
}

body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.692);
  border-radius: 20px;
}
