* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  list-style: none;
  text-decoration: none;
  color: #fff;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-image: url("img/LandingPageWallpaper.png");
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.active-nav-link {
  padding: 3px 15px;
  border-radius: 50px;
  border: 2px solid transparent;
  transition: background 0.2s ease;
  font-size: 15px;
  background-color: #ffffff3e;
  border: 2px solid #fff;
}
